* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card img {
    height: 348px;
    object-fit: cover;
}
.row label,input {
    display: block;
}
#form {
    margin: 0.5%;
}
.col-md-4 {
    padding: 0;
}
.row {
    margin: 1%;
}
button {
    margin: 1.5%;
}